::selection {
    background-color: rgba(41, 149, 225, 0.5);
}
@font-face {
    font-family: "Atkinson";
    src: url(../fonts/AtkinsonHyperlegible.ttf);
}
body {
    background: rgb(10, 10, 11);
    color: rgb(240, 240, 240);
    font-family: "Atkinson";
    font-size: 16.5px;
    padding: 1% 10% 2% 10%;
}
hr {
    background: linear-gradient(90deg, rgba(235,27,200,1) 0%, rgba(33,205,236,1) 100%);
    border: none;
    height: 1.5px;
    width: 45%;
}
/* for mobile */
@media (max-width: 650px) {
    body {
        overflow-x: hidden;
    }
}