::selection {
    background-color: #48b77c;
    color: #262b2f;
}
body {
    background: #262b2f;
    font-family: monospace;
    font-size: 16px;
    color: #eceef0;
    padding: 5px 20px;
}
a {
    color: #48b77c;
}
a:hover {
    background-color: #48b77c;
    color: #262b2f;
}